*, *::before,*::after {
    box-sizing:border-box;
    font-family:sans-serif;
    font-weight:normal;
  }
  
  body {
    padding:0;
    margin:0;
    background: rgb(139, 32, 95);
    background-image: linear-gradient(to right, rgb(228, 109, 208) , rgb(156, 212, 245));
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content:center;
    min-height:100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat (5, 100px);
  }
  
  .calulator-grid > button {
    cursor: pointer;
    border: 1px solid;
    outline: none;
    background-color: rgba (255, 255, 255, .50);
  }
  
  #clear, #equals {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    align-items;flex-end;
    justify-content:space-around;
    flex-direction: column;
    padding: 30px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-op {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-op {
    color: white;
    font-size: 2.5rem;
  }

  button {
    border-radius: 5px;
    color:rgb(20, 0, 92);
    background-color: rgb(255, 238, 255);
    padding: 5px;
    margin:2px 1px 2px 1px;
    opacity:0.7;
    font-size: 40px;
  }

  button:hover {
    background-color:white;
  }

  #divide, #multiply, #add, #subtract {
    font-size: 50px;
    opacity:0.90;
  }
